<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="d-grid justify-content-center align-items-center mt-3">
            <h2 class="mb-3 fw-bold">Documentos Específicos</h2>
        <div>
            <h5 class="mb-3 ">Formación Académica</h5>
        <div>
            <div class="mb-3">
                <label for="formFileSm" class="form-label">1. Grados y/o titulos</label>
                <input class="form-control form-control-sm" id="formFileSm" type="file">
              </div>
              <div class="mb-3">
                <label for="formFileSm" class="form-label">2. Especialidad / Diplomatura</label>
                <input class="form-control form-control-sm" id="formFileSm" type="file">
              </div>
              <div class="mb-3">
                <label for="formFileSm" class="form-label">3. Estudios</label>
                <input class="form-control form-control-sm" id="formFileSm" type="file">
              </div>
              <div class="mb-3">
                <label for="formFileSm" class="form-label">4. Idiomas extranjeros y/o lenguas nativas</label>
                <input class="form-control form-control-sm" id="formFileSm" type="file">
              </div>
        </div>   
        <div>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
        <div class="col-12 mt-5 text-center">
            <button class="btn btn-success btn-sm" type="submit" routerLink="/doc-esp">Siguiente</button>
        </div>

    </div>
</div>