<app-navbar></app-navbar>
<div class="container mt-2">
  <h1>{{ titulo }}</h1>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Fecha de Creación</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let docente of docentes">
      <td>{{docente.id}}</td>
      <td>{{docente.nombre}}</td>
      <td>{{docente.apellido}}</td>
      <td>{{docente.email}}</td>
      <td>{{docente.createAt | date: 'dd/MM/yy' }} </td>
    </tr>
  </tbody>
</table>
</div>
