<app-navbar></app-navbar>
<div class="container mt-2">
  <h1>{{ titulo }}</h1>
  <div class="alert alert-info" *ngIf="lista?.length==0">
    No hay docentes registrados en el sistema
  </div>
<table class="table table-hover table-striped" *ngIf="lista?.length>0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Fecha de Creación</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let docente of lista">
      <td>{{docente.id}}</td>
      <td>{{docente.nombre}}</td>
      <td>{{docente.apellido}}</td>
      <td>{{docente.email}}</td>
      <td>{{docente.createAt | date: 'dd/MM/yy' }} </td>
      <td><button class="btn btn-primary my-2" [routerLink]="['/docentes', docente.id]">Editar</button></td>
      <td><button class="btn btn-danger my-2" (click)="eliminar(docente)" >Eliminar</button></td>
    </tr>
  </tbody>
</table>

  <mat-paginator
    [length]="totalRegistros"
    [pageSize]="totalPorPagina"
    [pageIndex]="paginaActual"
    [pageSizeOptions]="[pageSizeOptions]"
    (page)="paginar($event)"
    class="float-left mx-2"
  >

  </mat-paginator>

</div>
