<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="d-grid justify-content-center align-items-center mt-3">
            <h2 class="mb-3 fw-bold">Documentos Generales</h2>
        <div>
        <div>
            <div class="mb-3">
                <label for="formFileSm" class="form-label">1. Solicitud para participar del consurso</label>
                <input class="form-control form-control-sm" id="formFileSm" type="file">
              </div>
              <div class="mb-3">
                <label for="formFileSm" class="form-label">2. Partida de nacimiento</label>
                <input class="form-control form-control-sm" id="formFileSm" type="file">
              </div>
              <div class="mb-3">
                <label for="formFileSm" class="form-label">3. DNI o Carné de Extranjería</label>
                <input class="form-control form-control-sm" id="formFileSm" type="file">
              </div>
              <div class="mb-3">
                <label for="formFileSm" class="form-label">4. Certificado de buena salid fisica y mental</label>
                <input class="form-control form-control-sm" id="formFileSm" type="file">
              </div>
              <div class="mb-3">
                <label for="formFileSm" class="form-label">5. Certificado original de no tener antecedentes penales</label>
                <input class="form-control form-control-sm" id="formFileSm" type="file">
              </div>
        </div>   
        <div>
            <button class="btn btn-primary" type="submit" routerLink="/doc-gen">Enviar</button>
        </div>
        <div class="col-12 mt-5 text-center">
            <button class="btn btn-success btn-sm" type="submit" routerLink="/docEspecificos">Siguiente</button>
        </div>

    </div>
</div>