<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="d-grid justify-content-center align-items-center mt-3">
      <h2 class="mb-3 fw-bold">Pre-inscripción al concurso</h2>
      <div class="bd-highlight btn btn-outline-secondary">
        <h5>Del 20 de Mayo al 25 de Junio del 2021</h5>
      </div>
      <div>
        <div class="text-center mt-3">
          <i class="fa fa-hourglass-start"></i>
          <p>Aún estas a tiempo</p>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <button type="button" class="btn btn-primary" routerLink="/legajo">
        Siguiente
      </button>
    </div>

    <!-- <div class="d-flex justify-content-center align-items-center mt-5">
      <div class="row">
        <div class="col-10">
          <p class="fs-6">Si ya estás registrado, inicia sesión</p>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-success btn-sm" routerLink="/login">Ingresar</button>
        </div>
      </div>
    </div> -->
</div>
