<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm p-3 bg-white rounded">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          height="50"
          alt="Angular Logo"
          src="../../../assets/images/logo.jpg"
          routerLink="/"
        />
        </a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/" routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"  routerLink="/docentes" routerLinkActive="active">Docentes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"  routerLink="/legajo" routerLinkActive="active">Legajo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"  routerLink="/evaluacion" routerLinkActive="active">Evaluacion</a
            >
          </li>
        </ul>
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  